

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Thanh Toán Mem</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/assets/css/stylemuahang.css}">
    
    <link rel="stylesheet" th:href="@{/assets/css/script.css}">
</head>
<body>
    <header th:replace="/header.html :: header"></header>
    <div class="container container-payment">
        <h1 class="mt-5">Thanh Toán</h1>

        <div class="order-summary">
            <div class="view-ss">
    <h2> Đơn Hàng</h2>
    <div class="from-payment">

    
        <div class="product d-flex align-items-center mb-3">
            <div class="product-image mr-3">
                <img th:src="@{/assets/img/app1.webp}" alt="Hình Ảnh Sản Phẩm" width="100" height="100">
            </div>
            <div class="product-details">
                <h3 th:text="${product.getNameP}">iPhone 13 128GB | Chính hãng</h3>
                <div class="price-qt">
                    <p class="pricess" th:text="${price}+'₫'">Giá:11.590.000₫</p>
                    <p>Số lượng: 1</p>

                </div>
            </div>
        </div>
        <div class="total">
            <h3 th:text=" 'Tổng: '+${price}  + ' ₫'">Tổng: 11.620.000₫</h3>

        </div>
    </div>
            </div>
        </div>
        
        <div class="checkout-forms" style="display: flex;
        justify-content: center;
        align-items: center;">
            <form class="checkout-form mt-5" action="/camonbandamuahang" method="POST">
                <div class="title-infor">
                    <h2 >Thông Tin Thanh Toán</h2>
    
                </div>
                <div class="billing-info mb-4">
                    <div class="form-group">
                        <div class="infor-user">
    
                            <div class="customer-name" th:if="${customer != null}">
                                <input type="text" name="name" id="name-user" th:value="${customer.Name}" readonly required>

                                <input type="text" name="phone" id="phone-user" th:value="${customer.Phone}" readonly required>
                            </div>
                            <div class="customer-name" th:unless="${customer != null}">
                                    <label for="">Họ và Tên</label>
                                    <input type="text" name="name" id="name-user" required>
                                    <label for="">Số điện thoại</label>
                                    <input type="text" name="phone" id="phone-user" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" th:if="${Emails  != null}">
                        <label for="email">Email</label>
                        <input type="text" id="address" name="address"  th:value="${Emails}" class="form-control" required>
                    </div>
                    <div class="form-group" th:unless="${Emails  != null}">
                        <label for="email">Email</label>
                        <input type="text" id="address" name="address"  th:value="${Emails}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Địa Chỉ</label>
                        <input type="text" id="address" name="address" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <select class="form-select" name="paymentMethod" aria-label="Default select example">
                            <option  selected value="0">Phương thức thanh toán</option>
                            <option value="1">Thanh toán khi nhận hàng</option>
                            <option value="2">Thanh toán Momo</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label for="note">Ghi chú</label>
                        <input type="text" id="note" name="note" class="form-control">
                    </div>
                   <div class="block-payment__checkvat" style="margin-bottom: 10px;width: 100%;">
                    <div class="checkvat__checkbox" style="align-items: flex-start;
                    display: flex;
                    gap: 8px;
                    width: 100%;">
                        <input type="checkbox" name="VAT" id="VAT" style="flex-shrink: 0;
                        height: 16px;
                        margin-top: 3px;
                        width: 16px;">
                        <div class="infor-dataVAT">
                            <label for="" style="font-size: 16px;
                            margin: 0;
                            text-align: left;
                        ">
                                Yêu cầu xuất hoá đơn công ty 
                            </label><br>
                            <p>
                                <em>Với đơn hàng
                                    <strong>trên 20 triệu đồng</strong>
                                    , vui lòng
                                    thanh toán bằng phương thức chuyển khoản từ tài
                                    khoản công ty hoặc bằng thẻ công ty.
                                  
                                </em>
                            </p>
                        </div>
                    </div>
                   </div>
                </div>
                <button type="submit" name="muahang" class="btn btn-success btn-block">Đặt Hàng</button>
            </form>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
